@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
:root{
    //primary
    --Desaturated_Red: hsl(0, 36%, 70%);
    --Soft_Red: hsl(0, 93%, 68%);
    //Neutral
    --Dark_Grayish_Red: hsl(0, 6%, 24%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

main{
    
    position: relative;
    width: 100%;
    height: 100vh;
    header{
        padding: 3rem;
        img{
            width: 12rem;
        }
    }
    .container-img{
        position: relative;
        height: 25rem;
        .image{
            background-image: url(../images/hero-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transition: 0.3s ease-in-out;
            width: 100%;
            height: 100%;
        }
    }
    .container-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 4.2rem 0 4.2rem;
        text-align: center;
        text-transform: uppercase;
        color: var(--Desaturated_Red);
        
        h1,p,.formulario{
            transition: 0.6s ease-in-out;
            width: 100%;
            max-width: 45rem;
        }
        h1{ 
            font-size: 3.8rem;
            font-weight: 300;
            letter-spacing: 0.8rem;
            line-height: 4.2rem;
            span{
                transition: inherit;
                font-size: 4rem;
                color: var(--Dark_Grayish_Red);
                font-weight: 600;
            }
        }
        p{
            margin-top: 1.5rem;
            line-height: 2rem;
            text-transform: none;
            font-size: 1.39rem;
        }

        .formulario{
            margin-top: 3.1rem;
            .input-container{
                display: flex;
                position: relative;
                border: 1px solid var(--Desaturated_Red);
                height: 5rem;
                border-radius: 2.5rem;
                padding-left: 2rem;
                input[type='text']{  
                    margin-right: 1rem;
                    width: 90%;
                    font-size: 1.3rem;
                    border: none;
                    outline: none;
                    background: transparent;
                    &::placeholder{
                        color: var(--Desaturated_Red);
                    }
                }
                button[type='submit']{
                    height: 100%;
                    width: 7rem;
                    border-radius: inherit;
                    border: none;
                    outline: none;
                    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                }
            }
        }
    }
    footer{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
}


@media(min-width:376px){
    main{
        .container-img{
            height: 38rem;
            .image{
                background-size: cover;
                background-position: left top;
            }
        }    
    }
}

@media(min-width:659px){
    main{
        .container-text{
            h1{
                line-height: 5.2rem;
                font-size: 4.5rem;
                span{
                    font-size: 4.7rem;
                }
            }
            p{
                margin-top: 1.8rem;
                padding: 0 40px;
                line-height: 2.4rem;
                font-size: 1.7rem;
                
            }    
                  
        }
        footer{
            bottom: -60px;
        }
    }
}

@media(min-width:1024px){
    main{
        &::before{
            z-index: -1;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(../images/bg-pattern-desktop.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            grid-row: 1/-1;
            grid-column: 1/11;
        }
        display: grid;
        grid-template-columns: repeat(16,1fr);
        grid-template-rows: repeat(16,1fr);
        header{
            grid-row: 1/3;
            grid-column: 2/10;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }
        .container-img{
            height: unset;
            grid-row: 1/-1;
            grid-column: 10/-1;
            .image{
                background-image: url(../images/hero-desktop.jpg);
            }
        }
        .container-text{
          
            grid-row: 3/14;
            grid-column: 2/9;
            text-align: left;
            align-items: flex-start;
            padding-left: 3rem;
            h1{
                font-size: 6.4rem;
                line-height: 7.6rem;
                letter-spacing: 1.4rem;
                span{
                    font-size: 6.6rem;
                }
            }
            p{
                margin-top: 2.6rem;
                padding: 0;
                font-size: 1.6rem;
                line-height: 2.8rem;
            }
        }
        footer{
            bottom: 0;
            grid-row: -1;
            grid-column: 1/11;
            border: 1px solid ;
        }
    }
}


